html, body {
  /* font-family: "Droid Sans","Helvetica Neue","Verdana", "Helvetica","Arial",sans-serif; */
}
/*
 *  Hourglass Spinner
 */
#loading-position {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#loading-label {
    margin: 0 -25%;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    color: #dfc;
}
.lds-hourglass {
    display: inline-block;
    /*position: fixed; /* absolute; /* relative; */
    width: 64px;
    height: 64px;
    /*
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px; */
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-hourglass 1.2s infinite;
}
div#loading-overlay {
    display: none;
    z-index: 2000;
    opacity: 0.95;
    background: #444;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    cursor: wait;
}
#loading-overlay.active,
#task-search-widget.active {
    display: block;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}

code {
    background-color: rgba(27,31,35,.05) !important;
    color: black;
}


/* Masquer le formulaire servant de template *
#secret-santa {
    display: none;
}
/* L'afficher lorsqu'il est dans le popup */
.ajs-content #secret-santa {
    display: inline-block;
}
/*
  Pour changer la taille du popup, il faut le rendre "resizable"
  mais ceci rajoute une scrollbar lors que l'on afficher le DateTimePicker
*/
.alertify.ajs-resizable .ajs-body .ajs-content {
    overflow: visible;
}
/*
  Masquer le widget sur lequel il faut cliquer pour redimensionner le popup:
  On ne veut pas rendre ça possible car on a "overflow:visible"
*/
.ajs-dialog .ajs-handle {
    display: none !important;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel {
    color: #c32828;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
    color: #28a745;
    outline: auto 1px;
}

.form-control,
.input-group-text,
.custom-select,
.bootstrap-select .btn,
.bootstrap-select .dropdown-menu,
#task-edit-widget .btn {
    border-radius: 0 !important;
    white-space: nowrap;
}
#task-edit-button,
#task-delete-navbar-button {
    margin-left: 0;
}
.front {
    background: rgba(34, 34, 34, 0.133)
}

input.cursor-pointer {
    cursor: pointer;
}
input[disabled],
input[readonly],
.btn:disabled{
    cursor: not-allowed;
}

/* Cohérence de style entre Bootstrap 4 et la librairie pour les <select> */
.bootstrap-select button {
    background: #fff;
    border-color: #dae0e5;
}
.dropdown-toggle::after {
    color: #495057;
}

/* On n'affiche pas les boutons lorque "&selector=true"
   car le zoom fait bugguer le graphique (visuellement) */
.highcharts-range-selector-buttons {
    display: none;
}

/*
    TOAST
 */
/* Sinon, les Toast sont derrière HighCharts */
#toast-container,
#drag-info-toast-container {
    bottom: 0;
    z-index: 2;
    pointer-events:none;
}
#drag-info-toast {
    opacity: 0.75;
    text-align: center;
}
.toast {
    z-index: 1;
    pointer-events:auto;
}
.toast.show {
    pointer-events:auto;
    opacity: 0.85;
}
#drag-info-toast.is-milestone #drag-info-toast-date-separator,
#drag-info-toast.is-milestone #drag-info-toast-end {
    display: none;
}

/*
    Bouton pour afficher / masquer #widget-area
 */
#widget-area-toggler {
    display: block;
    transition: none !important;
    margin-top: .3em;
    box-shadow: 0 -0.3rem 0 rgb(108, 117, 125);
}
#widget-area-toggler.collapsed:hover {
    margin-top: .2em;
}
#widget-area-toggler:not(.collapsed) {
    border-radius: 0 0 .25em 0 !important;
    margin-top: 0;
}
#widget-area-toggler[aria-expanded=true] {
    box-shadow: none;
}
#task-edit-widget {
    padding: .25em;
}
#delete-point-label > i {
    font-size: .6em;
}
.btn-mini {
    padding: .15em .45em;
}
.btn-mini.focus,
.btn-mini:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


#widget-area-toggler.collapsed .fa-caret-square-o-up,
#widget-area-toggler .fa-cogs,
#task-edit-widget.collaped {
    display: none;
}
#widget-area-toggler.collapsed .fa-cogs,
#widget-area-toggler .fa-caret-square-o-up {
    display: inline-block;
}

#top-left-edit {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/*
    TASK EDITOR MODAL
 */
#task-edit-modal .modal-dialog{
    overflow-y: initial !important;
}
#task-edit-modal .modal-body{
    /* height: 70vh; */
    overflow-y: auto;
}
.ajs-body {
    height: 80vh;
    min-height: 380px !important;
}

div.ajs-content {
    overflow-y: auto !important;
}
.ajs-dialog {
    width: 55vw !important;
    height: 80vh !important;
}

.form-group.offset-2:not([hidden]) + .form-group.offset-2 {
    margin-left: 0;
}

.warning-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}
.form-control.border-warning~.warning-feedback {
    display: block!important;
}

#task-category-input ~ div.dropdown-menu ul.dropdown-menu.inner > li:first-child {
    text-align: center;
    /*margin-left: 25%;*/
}
#task-category-input ~ div.dropdown-menu ul.dropdown-menu.inner > li:first-child {
    width: 90%;
    margin-left: 5%;
}

/**
 * Custom Animation
 * Tourner dans le sens inverse des aiguilles d'une montre
 **/
.fa-counter-spin {
    -webkit-animation: spin-counter 2s infinite linear;
    -moz-animation: spin-counter 2s infinite linear;
    -o-animation: spin-counter 2s infinite linear;
    animation: spin-counter 2s infinite linear;
}
@-moz-keyframes spin-counter {
    0% {
        -moz-transform: rotate(359deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}
@-webkit-keyframes spin-counter {
    0% {
        -webkit-transform: rotate(359deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-o-keyframes spin-counter {
    0% {
        -o-transform: rotate(359deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}
@-ms-keyframes spin-counter {
    0% {
        -ms-transform: rotate(359deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}
@keyframes spin-counter {
    0% {
        transform: rotate(359deg);
    }
    100% {
        transform: rotate(0deg);
    }
}